* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

.bg {
  animation: slide 12s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #44344F 50%, #D4A0A7 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:18s;
}

.bg3 {
  animation-duration:20s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat';
  color: #10214e;
}

article {
  width: 35rem;
  height: 22rem;
  padding: 2rem;
  border-radius: 3rem;
  transform: skewY(-10deg);
}

.article-1 {
  background: linear-gradient(135deg, #ecfae9a6, #82e2bda6);
}

.article-1__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0 8px 0 0;
  font-size: 3rem;
}

.article-1__top img {
  border: 4px solid #2a3439;
  border-radius: 1rem;
  width: 10rem;
}

.article-1__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

svg {
  height: 1.5rem;
}

.article-2 {
  background: linear-gradient(135deg, #c9f9ffaf, #9bc7f9a9);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
}

.code-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1.5rem 1.5rem; 
  grid-template-areas: 
    "html-img css-img js-img"
    "html-txt css-txt js-txt";
  height: 91%;
}

.article-2 img, .article-2 p {
  margin: auto;
  text-align: center;
  margin-top: 11px;
}

.html-img {
 grid-area: html-img;
}

.css-img {
  grid-area: css-img;
}

.js-img {
  grid-area: js-img;
}

.html-txt {
  grid-area: html-txt;
}

.css-txt {
  grid-area: css-txt;
}

.js-txt {
  grid-area: js-txt;
}


.article-2 img {
  height: 8rem;
}



